*{
    font-family: 'Open Sans', sans-serif;
}
header{
    background: #FFF8F3;
    background-image: url(../images/header_bg.png) , url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left ;
}
/*nav style*/
nav{
    display: flex;
    justify-content: space-between; 
    margin: 50px 200px;
}
.first{
    color: #FD6E0A;
}    


h2.nav-title{
    font-weight: 800;
font-size: 45px;
    margin: 0;
}

nav ul {
    display: flex;
    align-items: center;
    
}
nav li{
    list-style: none;
    margin-left: 50px;
}
.first-btn{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    padding: 18px 35px;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    height: 64px;  
}

/*banner style*/
.banner{
    margin: 0 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bannerh3{
    color: #474747;
    font-weight: 600;
    font-size: 45px;
}
.bannerh1{
    color: #181818;
    font-weight: 700;
    font-size: 85px;
   margin-bottom: 10px;
}
.bannerp{
    color: #757575;
    font-weight: 400;
font-size: 18px;
}
.second-btn{
    color: #FFFFFF;
    font-weight: 700;
font-size: 20px;
width: 132px;
height: 27px;
    background: #FD6E0A;
border-radius: 5px;
    width: 200px;
height: 64px;
}
.second-btn:hover{
    background-color: rgb(53, 53, 35);
}
.third-btn{
    color: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    width: 79px;
    height: 27px;
    text-align: center;
    border: 1px solid #FD6E0A;
border-radius: 5px;
width: 160px;
height: 64px;
box-sizing: border-box;
margin-left: 30px;
}
/*about*/
main{
    max-width: 1140px;
    background: #FFF8F3;
border-radius: 10px;
width: 1140px;
height: 550px;
margin: 0 auto;
padding: 130px 150px;
}
.about{
}
.about-me{
    text-align: center;
    margin-bottom: 30px;
}
.lorem{
    color: #757575;
    font-size: 18px;
}
/*table*/

